.mainWrapper{
    display: flex;
    margin: 10px;
    align-items: flex-start;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}
button {
    height: 22px;

}
.someClass {
    margin: 0;
    padding: 0;
}

.error {
    border: 1px solid red;
}

.errorMessage{
    color: red;
    display: block;
}
.wrapper{
    display: inline-block;
}
wrapper input {

}
.totalUsers{

}